.list-group-item {
  font-size: 90%;
  padding: 5px 10px;
  margin-left: 5px;
  margin-right: 5px;
  text-align: center;
  min-width: 180px;
}

.list-group-item:hover {
  background-color: #ebebeb;
  cursor: move;
}

.empty-list-item {
  border: 1px dashed #ccc;
  background-color: #f6f6f6;
}

.top5 {
  margin-top:5px;
}

.bot5 {
  margin-bottom:5px;
}

.no-pad {
  padding: 0;
}

.vcenter {
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: center;
    height: 95vh;
}

#group_div_container {
  display: flex;
  flex-flow: row wrap;
  justify-content: center;
  margin: 1em;
}

.group-container {
  padding: 5%;
  flex: 0 1 auto;
  border: 1px solid #eee;
}

.group_name {

}

.tag {
  background-color: pink;
}
