<div class="list-container {{#if group}}group-container{{/if}}">
  {{#if name}}
  <p class="group_name">{{name}}</p>
  {{/if}}
  <ul class="list-group connectedSortable">
    {{#each students}}
      <li class="list-group-item">
        {{this.displayname}}
        <input type="hidden" value={{this.user_id}}>
      </li>
    {{/each}}
  </ul>
</div>
